extends base.pug

block scripts 
   script(scr='/static/index.js')

block content 
    section#introSection   
      //-    img(src='/image/dance.jpeg' alt ='Dance Photo')
           
    section#sponsorSection 
          | Sction for sponsors 
    section#footer         
          | footer         